<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= item.size %>
  </p>

  <p>
    <strong>Suger:</strong>
    <%= item.suger %>
  </p>

  <p>
    <strong>Ice:</strong>
    <%= item.ice %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= item.quantity %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= item.order_id %>
  </p>

</div>
